/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  user-select: none;
  --system-ui:
    Arial, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  --primary: rgb(209, 223, 246);
  --white: white;
  --black: black;
  --blue: #0000c5bc;
  --blued: #0000c5;
  --cloud: #ebeef0;
  --cloudd: #d4dadf;
  --play: gradient();
  --grey: #f0f0f0;
  --red: #f02828c3;
  --red-text: #ae0505;
}
body {
  font-family: "Pangolin";
  background-color: #e5e5f7;
  background-image:
    linear-gradient(#444df75c 0.5px, transparent 0.5px),
    linear-gradient(to right, #444df75c 0.5px, #e5e5f7 0.5px);
  background-size: 30px 30px;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  padding-bottom: 25px;
}
.game-state {
  padding: 3px 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 30px;
  margin-bottom: 40px;
  min-width: 300px;
  height: 30px;
  border: 1px solid var(--black);
  border-radius: 8px;
}
.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 135px;
}

.board {
  border-collapse: collapse;
}
.board.first {
  cursor: move;
}
.board-label {
  text-align: center;
  margin: 15px 25px;
}
.manual {
  color: rgb(96, 96, 96);
  text-align: center;
  margin: 15px;
  margin-top: -10px;
}
.cell {
  border: 1px solid var(--black);
  width: 30px;
  height: 30px;
  text-align: center;
}

td.x-label {
  text-align: center;
}
td.y-label {
  text-align: right;
  padding-right: 15px;
}
.ship {
  background-color: var(--blue);
}
.missed {
  color: var(--black);
  background-color: var(--grey);
}

.hit {
  padding: 0px;
  color: var(--red-text);
  background-color: var(--red);
}

.hit::after {
  font-size: 1.4rem;
  content: "╳ ";
}

.not-clickable {
  pointer-events: none;
}
.shadow {
  opacity: 0.5;
}

.btns-container {
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--cloud);
  padding: 7px 14px;
  font-size: 1.1rem;
}
.btn:hover {
  transition: background-color 200ms ease-out;
}
.btn:active {
  opacity: 0.5;
  transition: opacity 200ms ease-out;
}
.game-control {
  padding: 20px;
  font-size: 1.3rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.game-control:hover {
  background-color: var(--blued);
}
.random:hover {
  background-color: var(--cloudd);
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 900px) {
  .game-state {
    min-width: 250px;
  }
  .game-container {
    margin: 40px 100px;
  }
  .boards-container {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .game-container {
    margin: 40px;
  }
}
@media (max-width: 450px) {
  .game-container {
    margin: 0px;
    padding: 20px;
  }
}
